  <!-- Main Footer -->
<footer id="footer" class="footer">
    <div class="copyright">
        @*&copy; Copyright <strong><span>PT. Mitra Adiperkasa Tbk</span></strong>. All Rights Reserved*@
    </div>
    <div class="credits">
        <b>Version</b> 1.0.0
    </div>
</footer>