@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Masinton Kanvassing</title>
    <partial name="AdminLTE/_Styles" />
    @RenderSection("myScripts", false)
    @RenderSection("myStyle", false)
</head>

<body>
    <partial name="AdminLTE/_TopNavigation" />
    <partial name="AdminLTE/_MainNavigation" />

    <main id="main" class="main">
        <div class="row g-3">
            @RenderBody()
        </div>
    </main>
    <partial name="AdminLTE/_Footer" />
    <partial name="AdminLTE/_Scripts" />
</body>

</html>