<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Masinton Simpul</title>
    <partial name="AdminLTE/_Styles" />
    @RenderSection("myScripts", false)
    @RenderSection("myStyle", false)
</head>

<body>
    <div class="content" style=" min-height: 100vh; display: grid; align-content: center; ">
        @RenderBody()
    </div>
    <partial name="AdminLTE/_Scripts" />
</body>

</html>