<!-- Main Sidebar Container -->
@using Model.JsonModels.Master;
@using Microsoft.AspNetCore.Http
@using System.Text.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<aside id="sidebar" class="sidebar bg-elevation-1">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Login" asp-action="Home">
                <span class="material-icons-outlined">bar_chart</span>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        @if (User.Claims.FirstOrDefault(x => x.Type == "RolesCode").Value == "Staff")
        {
            <li class="nav-item">
                <a asp-area="Master" asp-controller="Answer" asp-action="Index" class="nav-link">
                    <span class="material-icons-outlined">table_rows</span>
                    <span>Daftar Jawaban</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Master" asp-controller="Answer" asp-action="Create" class="nav-link">
                    <span class="material-icons-outlined">post_add</span>
                    <span>Isi Data</span>
                </a>
            </li>
        }

        <!-- End Icons Nav -->


        <li class="nav-heading">&nbsp;</li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Login" asp-action="Logout" class="nav-link">
                <span class="material-icons-outlined">logout</span>
                <span>Logout</span>
            </a>
        </li>
    </ul>

</aside>