@model Model.JsonModels.Master.JsonUser

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<style>
    .row-chart {
        display: flex;
    }

    .col-chart {
        flex: 1;
    }
</style>

<section class="card col-12">
    <h2 class="card-title text-center">
        Welcome to Masinton Pasaribu Kanvasser Dashboard 
    </h2>
    <div>
        <div class="card-body row gap-3 align-items-end justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <label class="control-label" for="filterKelurahan">Filter Berdasarkan Kelurahan</label>
                @Html.DropDownList("Select Kelurahan", new SelectList(ViewBag.listKelurahan, "Name", "Name"), "Semua",
                         new
                         {
                             @id = "filterKelurahan",
                             @class = "form-control"
                         })
            </div>
            <button class="col-sm-12 col-lg-4 btn btn-primary btn-sm" id="btnRefreshChart" type="button"
                style="max-width: 250px;">
                Refresh Chart
            </button>
        </div>
    </div>
</section>


<section class="card col-12">
    <h2 class="card-title text-center">Responden Menjawab, Siapakah Calon Wakil Rakyat yang pantas dari PDIP Perjuangan DAPIL DKI II</h2>
    <canvas id="mainChart" class="card-body"></canvas>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Apakah Responden tahu Masinton Pasribu sebagai Anggota DPR DKI II</h2>
        <canvas id="c3AChart" class="card-body"></canvas>
    </div>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Apakah Responden tahu Masinton Pasribu sebagai Aktivis gerakan tahun 1998
        </h2>
        <canvas id="c3BChart" class="card-body"></canvas>
    </div>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Apakah Responden tahu bahwa Masinton Pasribu diinginkan kembali oleh
            masyarakat untuk menjadi anggota DPR RI Dapil DKI II?
        </h2>
        <canvas id="c4Chart" class="card-body"></canvas>
    </div>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Bersediakah Responden Mengkampanyekan Masinton Pasribu sebagai Calon Wakil Rakyat 2024 nanti ?</h2>
        <canvas id="c7Chart" class="card-body"></canvas>
    </div>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Usia Responden</h2>
        <canvas id="ageChart" class="card-body"></canvas>
    </div>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Agama Responden</h2>
        <canvas id="religionChart" class="card-body"></canvas>
    </div>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Pendidikan Responden</h2>
        <canvas id="academicChart" class="card-body"></canvas>
    </div>
</section>

<section class="col-md-6 p-1">
    <div class="card">
        <h2 class="card-title text-center">Suku Responden</h2>
        <canvas id="tribeChart" class="card-body"></canvas>
    </div>
</section>



@section myScripts {
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            $("form").submit(function () {

                ShowLoading();

            });


            const colorPalette1 = [
                'rgba(0, 0, 255, 0.5)',
                'rgba(255, 0, 0, 0.5)',
                'rgba(0, 128, 0, 0.5)',
                'rgba(128, 128, 0, 0.5)',
                'rgba(0, 0, 128, 0.5)',
                'rgba(128, 0, 128, 0.5)',
                'rgba(0, 128, 128, 0.5)',
                'rgba(255, 0, 255, 0.5)',
                'rgba(128, 128, 128, 0.5)',
                'rgba(192, 192, 192, 0.5)',
                'rgba(255, 255, 0, 0.5)',
                'rgba(0, 255, 255, 0.5)',
                'rgba(255, 128, 0, 0.5)',
                'rgba(0, 255, 128, 0.5)',
                'rgba(128, 0, 255, 0.5)',
                'rgba(255, 128, 128, 0.5)',
                'rgba(128, 255, 128, 0.5)',
                'rgba(128, 128, 255, 0.5)',
                'rgba(192, 0, 0, 0.5)',
                'rgba(0, 192, 0, 0.5)',
                'rgba(192, 192, 0, 0.5)',
                'rgba(0, 0, 192, 0.5)',
                'rgba(192, 0, 192, 0.5)',
                'rgba(0, 192, 192, 0.5)',
                'rgba(192, 192, 192, 0.5)',
                'rgba(64, 0, 0, 0.5)',
                'rgba(0, 64, 0, 0.5)',
                'rgba(64, 64, 0, 0.5)',
                'rgba(0, 0, 64, 0.5)',
                'rgba(64, 0, 64, 0.5)',
                'rgba(0, 64, 64, 0.5)',
                'rgba(64, 64, 64, 0.5)',
                'rgba(128, 0, 64, 0.5)',
                'rgba(0, 128, 64, 0.5)',
                'rgba(128, 128, 64, 0.5)',
                'rgba(0, 0, 64, 0.5)',
                'rgba(128, 0, 128, 0.5)',
                'rgba(0, 128, 128, 0.5)',
                'rgba(192, 0, 64, 0.5)',
                'rgba(64, 128, 0, 0.5)',
                'rgba(192, 192, 64, 0.5)',
                'rgba(64, 0, 128, 0.5)',
                'rgba(192, 0, 192, 0.5)',
                'rgba(64, 192, 192, 0.5)',
                'rgba(192, 192, 192, 0.5)',
                'rgba(64, 64, 192, 0.5)',
                'rgba(192, 64, 64, 0.5)',
                'rgba(64, 192, 64, 0.5)'
            ];

            async function showChart() {
                var xValues = [];
                var yValues = [];

                var data = await $.ajax({
                    url: "/Master/Answer/MainChart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });

                $.each(data, function (index, item) {
                    xValues.push(item.label);
                    yValues.push(item.count);
                });

                createMainChart(xValues, yValues);
            }

            //function showReligionChart() {
            //    var labels = [];
            //    var datasets = [];

            //    $.ajax({
            //        url: "/Master/Answer/ReligionChart",
            //        method: "POST",
            //        data: {},
            //        async: false,
            //        success: function (data) {
            //            $.each(data, function (index, item) {

            //                var tempdataset = {
            //                    data: [],
            //                    label: item.xLabel, // contain calon name
            //                    backgroundColor: colorPalette1[index],
            //                }

            //                $.each(item.charts, function (index, item) {
            //                    // check whether the labels array already contain the religion
            //                    if (!labels.includes(item.label)) {
            //                        labels.push(item.label);
            //                    }
            //                    tempdataset.data.push(item.count); // contain each agama vote for current calon
            //                });

            //                datasets.push(tempdataset);
            //            });
            //        }
            //    });

            //    createReligionChart(labels, datasets);
            //}

            async function showC3AChart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/C3AChart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });

                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "c3AChart");
            }

            async function showC3BChart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/C3BChart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });

                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "c3BChart");
            }

            async function showC4Chart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/C4Chart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });


                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "c4Chart");
            }

            async function showC7Chart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/C7Chart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });


                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "c7Chart");
            }

            async function showAgeChart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/AgeChart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });

                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "ageChart");
            }

            async function showReligionChart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/ReligionChart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });

                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "religionChart");
            }

            async function showAcademicChart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/AcademicChart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });

                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "academicChart");
            }

            async function showTribeChart() {
                var datasets = [];

                var data = await $.ajax({
                    url: "/Master/Answer/TribeChart",
                    method: "POST",
                    data: {
                        Kelurahan: $('#filterKelurahan').val()
                    }
                });

                $.each(data, function (index, item) {

                    var tempdataset = {
                        data: [item.count],
                        label: item.label, // contain calon name
                        backgroundColor: colorPalette1[index],
                    }

                    datasets.push(tempdataset);
                });

                createCChart(datasets, "tribeChart");
            }

            //function createReligionChart(labels, datasets) {

            //    const existingChart = Chart.getChart("religionChart"); // Get the previous Chart instance
            //    if (existingChart) {
            //        existingChart.destroy(); // Destroy the previous Chart
            //    }

            //    const religionChart = new Chart("religionChart", {
            //        type: "bar",
            //        data: {
            //            labels: labels,
            //            datasets: datasets,
            //        },
            //        options: {
            //            // Chart options
            //            responsive: true,
            //            maintainAspectRatio: true,
            //            //plugins: {
            //            //    legend: {
            //            //        display: false,
            //            //    },
            //            //},
            //            //scales: {
            //            //    y: {
            //            //        suggestedMax: (Math.max(...yValues) * 1.5),
            //            //    }
            //            //}
            //        }
            //    });
            //}

            function createMainChart(xValues, yValues) {

                const existingChart = Chart.getChart("mainChart"); // Get the previous Chart instance
                if (existingChart) {
                    existingChart.destroy(); // Destroy the previous Chart
                }

                const datasets = xValues.map((label, index) => ({
                    label: label,
                    data: [yValues[index]],
                    backgroundColor: colorPalette1[index],
                }));

                const myChart = new Chart("mainChart", {
                    type: "bar",
                    data: {
                        labels: [""],
                        datasets: datasets,
                    },
                    options: {
                        // Chart options
                        responsive: true,
                        maintainAspectRatio: true,
                        height: "auto",
                        scales: {
                            x: {
                                display: false,
                            },
                            y: {
                                suggestedMax: (Math.max(...yValues) * 1.25),
                            }
                        }
                    },
                });
            }

            function showC1Count() {
                $.ajax({
                    url: "/Master/Answer/C1Count",
                    method: "POST",
                    data: {},
                    async: false,
                    success: function (data) {
                        $.each(data, function (index, item) {
                            if (item.label == "YA") {
                                $("#c1YesCount").text(item.count);
                            }
                            else {
                                $("#c1NoCount").text(item.count);
                            }
                        });
                    }
                });
            }

            function createCChart(datasets, chartId) {

                const existingChart = Chart.getChart(chartId); // Get the previous Chart instance
                if (existingChart) {
                    existingChart.destroy(); // Destroy the previous Chart
                }

                const maxDataValue = datasets.reduce((max, obj) => {
                    const maxInDataArray = Math.max(...obj.data);
                    return Math.max(max, maxInDataArray);
                }, -Infinity);

                const myChart = new Chart(chartId, {
                    type: "bar",
                    data: {
                        labels: [""],
                        datasets: datasets,
                    },
                    options: {
                        // Chart options
                        responsive: true,
                        maintainAspectRatio: true,
                        height: "auto",
                        scales: {
                            x: {
                                display: false,
                            },
                            y: {
                                suggestedMax: maxDataValue * 1.25,
                            }
                        }
                    }
                });
            }

            async function repeatFetch() {
                showChart();
                showC3AChart();
                showC3BChart();
                showC4Chart();
                showC7Chart();
                showC1Count();
                showAgeChart();
                showReligionChart();
                showAcademicChart();
                showTribeChart();

                //setTimeout(function () {
                //    repeatFetch();
                //}, 60000);
            }

            (async () => {
                repeatFetch();
            })();

            $("#btnRefreshChart").on("click", async function () {
                showChart();
                showC3AChart();
                showC3BChart();
                showC4Chart();
                showC7Chart();
                showC1Count();
                showAgeChart();
                showReligionChart();
                showAcademicChart();
                showTribeChart();
            })

            //function setTargetHeight() {
            //    $("#c1CountWrapper").height($("#religionChartWrapper").height());
            //}

            //$(window).on("resize", setTargetHeight());

            //setTargetHeight();

        @if (TempData["notification"] != null)
        {
            @Html.Raw(TempData["notification"])
        }

                                                                                    });

    </script>

}